@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* HelveticaNeue fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueHeavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Fix for sticky sections */
.sticky-section {
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.sticky-header-column {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  position: sticky;
  top: 0;
}

.sticky-info-column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
}

.image-4 {
  object-fit: cover;
  max-width: 500%;
  margin-top: -4px;
  padding-left: 0;
}

.large-number.outline {
  margin-bottom: .8rem;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 200;
}

@media screen and (max-width: 767px) {
  .sticky-info-column {
    width: 100%;
  }
  
  .sticky-header-column {
    width: 100%;
    height: auto;
    min-height: 50vh;
    position: static;
  }
  
  .sticky-section {
    flex-direction: column;
  }
} 